<%= form_for(@tool, url: user_tools_path, method: :post) do |f| %>
  <% if @tool.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tool.errors.count, "error") %> prohibited this tool from being saved:</h2>

      <ul>
      <% @tool.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group text-center">
    <%= f.label :name, class:"sr-only" %><br>
    <%= f.text_field :name, placeholder: "name" %>
    <br>
    <%= f.label :price, class:"sr-only" %><br>
    <%= f.number_field :price, placeholder: "price" %>
    <br>
    <%= f.label :quantity, class:"sr-only" %><br>
    <%= f.number_field :quantity, placeholder: "quantity" %>
  </div>
  <br>
  <div class="text-center">
    <%= f.submit "Save", class:"btn btn-primary" %>
    <%= link_to 'Back', user_tools_path(@user), class:"btn btn-success" %>
  </div>
<% end %>
