<div class="navbar-xs">
   <div class="navbar-inverse">
       <nav class="navbar navbar-static-top" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-8">
                 <span class="sr-only">Toggle navigation</span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
                 <span class="icon-bar"></span>
              </button>
              <%= link_to 'ToolBox', root_path, class: 'navbar-brand' %>
          </div>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
              <ul class="nav navbar-nav">
                  <% if current_admin? %>
                    <li><%= link_to 'Home', admin_user_path(current_user)%></li>
                    <li><%= link_to 'All Users', admin_users_path%></li>
                    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
                  <% elsif current_user %>
                    <li><%= link_to 'Home', user_path(current_user)%></li>
                    <li><%= link_to 'All Users', users_path%></li>
                    <li><%= link_to 'Logout', logout_path, method: :delete %></li>
                  <% else %>
                    <li><%= link_to 'Home', "/"%></li>
                    <li><%= link_to 'Login', login_path %></li>
                     <li><%= link_to 'Signup', new_user_path %></li>
                     <li><%= link_to 'All Users', users_path%></li>
                  <% end %>
              </ul>
          </div><!-- /.navbar-collapse -->
      </nav>
  </div>
</div>
