<!DOCTYPE html>
<html>
<head>
  <title>ToolBox</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% flash.each do |type, msg| %>
  <%= content_tag :div, msg, class: "flash_#{type}" %>
<% end %>
<% if most_recent_tool %>
  <p>
    <strong>Newest tool:</strong> <%= most_recent_tool.name %>
  </p>
<% end %>
<%= yield %>

</body>
</html>
